/* body {
  background-color: gray;
}
.dv {
  height: 500px;
  width: 500px;
  background-image: url(../img/test.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.abc {
  transform: translate(50%, 50%);
}
nav :any-link {
  background-color: yellow;
}

a {
  color: color(red alpha(-10%));
} */

/* :local(.test) { background: red; }
:local .test{ color: green; } */

.tran{
  transform: translate(-50%,0);
}
